--extra-index-url https://viz-temp.pmel.noaa.gov/packages
plotly>=6.0.1
gunicorn
pandas
packaging
Flask
Werkzeug
colorcet
celery
diskcache
dash-ag-grid
dash-enterprise-libraries>=1.5.2
git+https://github.com/noaaroland/sdig.git