--index-url https://viz.pmel.noaa.gov/packages
--extra-index-url https://pypi.org/simple
plotly>=6.0.1
gunicorn
pandas
packaging
Flask
Werkzeug
colorcet
celery
diskcache
dash-ag-grid
SQLAlchemy>=2.0
dash-enterprise-libraries==1.7.4
dash[diskcache]
git+https://github.com/noaaroland/sdig.git