plotly>=6.0.1
gunicorn
pandas
packaging
Flask
Werkzeug
colorcet
celery
diskcache
dash-ag-grid
SQLAlchemy>=2.0
dash-enterprise-libraries==1.5.1
dash[diskcache]
git+https://github.com/noaaroland/sdig.git